.git
venv
*.pyc
*.DS_Store

# sbt specific
.cache
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

.git
venv
*.pyc
staticfiles
dump.rdb
.env
latest.dump
dumps/
exports/
profile_default
media
.DS_Store
.idea/
*~
*.crt
*.key
*.pem
*.csr
*.log
*.bk
*.swp
.tags*
tags
coverage

settings_local.py
settings_staging.py
*.ipynb
.coverage
coverage_html_report
*.sql
*.dump
doordash/prediction/eta/data/
gen-py/
flower.db
storybook-build
aws_credentials.json

shortcuts/doordash_shortcuts.egg-info/
.cache
junk/
node_modules/
DataDocStore
static/css/all.css
static/build/
static/js/simulator/simulation.json
webpack-assets.json
frontend-server/build
web-e2e/reports
web-e2e/data/dev.js
web-e2e/screenshots
static/src/test/wdio/errorShots
selenium-debug.txt

node

# Eclipse IDE config files
.project
.pydevproject
.settings

# VSCode IDE settings
.vscode/

# KDevelop IDE settings
*.kdev4
.kdevelop

# Ignore package-lock.json in favor of yarn.lock
package-lock.json

/build
/bin/
input/
output/
*.lp
*.log
*.xpr
.DS_Store
.scalastyle
.classpath
